.loading{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);

    .icons{
        display: flex;
        justify-content: center;
        height: 50px;
        .firstIcon{
            animation-name: moving-first;
            animation-duration: 0.9s;
            animation-iteration-count: infinite;
        }

        .secondIcon{
            animation-name: moving-second;
            animation-duration: 0.9s;
            animation-iteration-count: infinite;
        }

        .thirdIcon{
            animation-name: moving-third;
            animation-duration: 0.9s;
            animation-iteration-count: infinite;
        }
    }
    .sign{
        display: flex;
        justify-content: center;
    }
    
}

@keyframes moving-first{
    0% { width: 35px; height: 35px; }
    25% { width: 40px; height: 40px; }
    50% { width: 45px; height: 45px; }
    75% { width: 40px; height: 40px; }
    100% { width: 35px; height: 35px; }
}

@keyframes moving-second{
    0% { width: 40px; height: 40px; }
    25% { width: 45px; height: 45px; }
    50% { width: 40px; height: 40px; }
    75% { width: 35px; height: 35px; }
    100% { width: 40px; height: 40px; }
}

@keyframes moving-third{
    0% { width: 45px; height: 45px; }
    25% { width: 40px; height: 40px; }
    50% { width: 35px; height: 35px; }
    75% { width: 40px; height: 40px; }
    100% { width: 45px; height: 45px; }
}