@import '../../index.scss';

.homeScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $secondary-color;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}