@import '../../index.scss';

.navigation{
    display: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 50px;
    font-size: 15px;
    font-weight: 550;
    background-color: $navigation-color;
    display: flex;
    color: $white-color;
    justify-content: center;
    align-items: center;
}