$primary-color: #3E7FBA;
$secondary-color: #BAD7F4;
$tertiary-color: #36C08C;

$navigation-color: #263440;

$white-color: #FFFFFF;

$font:  "Lucida Sans Unicode", "Lucida Grande", sans-serif; 

html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

#root{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: $font;
    background-color: $secondary-color;
}